{{>layout/header}}
<div class="container">
    <input type="hidden" id="userName" value="{{userName}}">
    <button id="btn-apply" class="btn-secondary">Apply To Join</button>
    <div id="calendar"></div>
    <br>
    <hr>
    <br>
    <h6>Notice</h6>
        <p>- 의무사항을 이행하지 않았거나 불성실하게 활동한 멤버는 프로그램 재참여 제한.</p><br>
        <p>- 최소 6회, 12시간 이상 스터디그룹을 진행하면서 필수 항목을 실시해야 함</p><br>
        <p>- 우수 멤버는 10만 원 상당의 상품 지급</p>
    <br><br>
    <h6>Check List</h6>
        <p><i class="bi bi-check2-circle"></i>11월 첫째 주 오프라인 미팅</p><br>
        <p><i class="bi bi-check2-circle"></i>프론트 템플릿 완성</p><br>
        <p><i class="bi bi-check2-circle"></i>컨트롤러 수정</p><br>
    <br><br>
    <h6>Progress</h6>
        <p>(멤버 별 진행 현황)</p>

</div>


{{>layout/footer}}
