{{>layout/header}}
<div class="container">
    <input type="hidden" id="userName" value="{{userName}}">
    <button id="btn-apply" class="btn-secondary">Apply To Join</button>
    <div id="calendar"></div>

</div>


{{>layout/footer}}
