{{>layout/header}}

<!-- 검색 -->
    <div class="input-group nav justify-content-center">
    <form action="/posts/search" method="GET" role="search" >
        <input name="keyword" type="text" placeholder="Search" autocomplete="off">
        <span class="input-group-btn">
            <button><i class="bi bi-search-heart"></i></button>
        </span>
    </form>
    </div>
<!-- 카테고리 -->
<aside>
    <h4>category</h4>
    <ul>
        <li>study</li>
        <li>project</li>
    </ul>
</aside>
<!-- 글 목록 -->
{{#userName}}
    <a href="/posts/save" role="button" class="btn btn-primary">글 쓰기</a>
{{/userName}}
{{^userName}}
    <a href="/posts/save" role="button" class="btn btn-primary" onClick="alert('로그인이 필요해요.');">글 쓰기</a>
{{/userName}}
    <table class="table table table-hover">
        <thead>
            <tr>
                <th>글 번호</th>
                <th>카테고리</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody>
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td>{{category}}</td>
                <td><a href="/posts/view/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{createdDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>

<!-- 페이징 -->
<nav aria-label="Page navigation example">
    <ul class="pagination pagination-sm justify-content-center">
        {{#hasPrev}}
        <li class="page-item">
            <a class="page-link" href="?page={{prev}}" aria-label="Next">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {{/hasPrev}}
        {{#hasNext}}
        <li class="page-item">
            <a class="page-link" href="?page={{next}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {{/hasNext}}
    </ul>
</nav>

{{>layout/footer}}