{{>layout/header}}

<!-- 검색 -->
<div class="input-group nav justify-content-center">
    <form action="/posts/search" method="GET" role="search" >
        <input class="box-shadow" name="keyword" type="text" placeholder="Search" autocomplete="off">
        <span class="input-group-btn">
            <button class="no-border"><i class="bi bi-search"></i></button>
        </span>
    </form>
</div>
<br><br>
<!-- 카테고리 -->
<!--<aside>-->
<!--    <h4>category</h4>-->
<!--    <ul>-->
<!--        <li>study</li>-->
<!--        <li>project</li>-->
<!--    </ul>-->
<!--</aside>-->
<!--글 쓰기 버튼-->
<div id="write-posts" class="input-group nav justify-content-end" >
    {{#userName}}
        <a class="set-color" href="/posts/save">글 쓰기</a>
    {{/userName}}
    {{^userName}}
        <a class="set-color" href="/posts/save" onClick="alert('로그인이 필요해요.');">글 쓰기</a>
    {{/userName}}
</div>
<!-- 글 목록 -->
<div class="table-responsive container">
    {{#posts}}
    <table class="table table-hover">
        <tbody>
            <tr onClick="location.href='/posts/view/{{id}}'" style="cursor:pointer;">
                <td>{{id}}</td>
                <td>{{category}}</td>
                <td><Strong>{{title}}</Strong><br>{{author}}</td>
                <td>{{createdDate}}</td>
            </tr>
        </tbody>
    </table>
    {{/posts}}
    {{^posts}}
        <br><br>
        <p align="center" style="color:grey;">아직 작성된 글이 없습니다.</p>
    {{/posts}}
</div>

<!-- 페이징 -->
<nav aria-label="Page navigation example">
    <ul class="pagination pagination-sm justify-content-center">
        {{#hasPrev}}
        <li class="page-item">
            <a class="page-link" href="?page={{prev}}" aria-label="Next">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {{/hasPrev}}
        {{#hasNext}}
        <li class="page-item">
            <a class="page-link" href="?page={{next}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {{/hasNext}}
    </ul>
</nav>

{{>layout/footer}}