{{>layout/header}}

<!-- 검색 -->
<div class="input-group nav justify-content-center">
    <form action="/posts/search" method="GET" role="search" >
        <input class="box-shadow" name="keyword" type="text" value="{{keyword}}" placeholder="Search" autocomplete="off">
        <span class="input-group-btn">
            <button class="no-border"><i class="bi bi-search"></i></button>
        </span>
    </form>
</div>
<br><br>

<!-- 검색 결과 목록 -->
{{#searchList}}
    <table class="table table-hover posts-list" style="table-layout:fixed">
        <tbody>
        <tr onClick="location.href='/posts/view/{{id}}'" style="cursor:pointer;">
            <td class="id">{{id}}</td>
            <td class="category">{{category}}</td>
            <td class="title"><Strong class="title">{{title}}</Strong><br><span class="author">{{author}}</span></td>
            <td class="createdDate">{{createdDate}}</td>
        </tr>
        </tbody>
    </table>
{{/searchList}}
{{^searchList}}
    <br><br>
    <p align="center" style="color:grey;">There are no search results matching <span style="font-weight:bold;">'{{keyword}}'</span>.</p>
{{/searchList}}

{{>layout/footer}}